
 <footer>
    <div class= "row">
        <div class="col">
            <div class="footer-logo">
                <a href = "/"><img id="footer-logo" src="https://s3.us-east-2.amazonaws.com/midwestspray/APS+only+logo.jpg"></a>
             </div>
        </div>
    <div class="col">
        <ul class="content-list">
            <li class="content-label">
                <div class="label-list-item">
                    <a href="#">Products & Services</a>
                </div>
            </li>
            <li class="content-item">
                <div class="list-item">
                    <a href="/productGallery">Products</a>
                </div>
            </li>
            <li class="content-item">
                <div class="list-item">
                    <a href="/ServiceGallery">Services</a>
                </div>
            </li>
                <!--<li class="content-item">-->
                <!--    <div class="list-item">-->
                <!--        <a href="#">Featured Items</a>-->
                <!--    </div>-->
                <!--</li>-->
            </ul>
        </div>
        <div class="col">
            <ul class="content-list">
                <li class="content-label">
                    <div class="-label-list-item">
                        <a href="/about">About</a>
                    </div>
                </li>
                <li class="content-item">
                    <div class="list-item">
                        <a href="/about">History</a>
                    </div>
                 </li>
                 <li class="content-item">
                    <div class="list-item">
                        <a href="/contact">Contact</a>
                    </div>
                </li>
             </ul>
        </div>
        <div class="col">
            <div class="contact-information">
                <ul class="content-list">
                    <li class="list-item">
                        <div class="copyright">
                            <p>Copyright © Advanced Print Solutions. 2018</p>
                        </div>
                    </li>
                    <li class="content-item">
                        <div class="list-item">
                            <div class="address">
                                <p>714 main Street Brookville, IN 47012</p>
                            </div>
                        </div>
                    </li>
                    <li class="content-item">
                        <div class="list-item">
                            <div class="contact me">
                                <a href="/contact">Contact</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
 </footer> 

   <link rel="stylesheet" href="/stylesheets/footer.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js" integrity="sha256-dHf/YjH1A4tewEsKUSmNnV05DDbfGN3g7NMq86xgGh8=" crossorigin="anonymous"></script>
   </body>
</html>
