<!DOCTYPE html>
<html>
<header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</header>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <a class="navbar-brand" href="/">
                    <img id ="logo" src="https://advancedprintsolutionsmedia.s3.us-east-2.amazonaws.com/new+logo/Whitewater+Print+Solutions+Logo.jpg">
                </a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Products
                    </a>
                    <div class="dropdown-menu multi-column"   aria-labelledby="navbarDropdown">
                        <div class="container">
                            <div class= "row">
                                <div class= "col-md-6 col-sm-12">
                                        <a class="dropdown-item" href="/productGallery">Gallery</a>
                                    <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/productGallery/accessories">Accessories</a>
                                    <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/productGallery/apparel">Apparel</a>
                                    <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/productGallery/bags">Bags</a>
                                    <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/productGallery/brochures">Brochures</a>
                                    <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/productGallery/business-cards">Business Cards</a>
                                    <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/productGallery/calendars">Calendars</a>
                                    <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/productGallery/clothing-accessories">Clothing Accessories</a>
                                    <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/productGallery/gift-set">Gift Sets</a>
                                    <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/productGallery/hats">Hats</a>
                                    <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/productGallery/magnets-stickers">Magnets & Stickers</a>
                                    <div class="dropdown-divider"></div>
                                
                                
                                </div>
                                <div class= "col-md-6 col-sm-12">
                                    
                                        <a class="dropdown-item" href="/productGallery/mugs">Mugs</a>
                                    <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/productGallery/notebooks">Notebooks</a>
                                    <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/productGallery/office-supplies">Office Products</a>
                                    <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/productGallery/outdoor-leisure">Outdoor Leisure</a>
                                    <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/productGallery/pens">Pens</a>
                                    <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/productGallery/signs&banners">Signs & Banners</a>
                                    <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/productGallery/special-packaging">Special Packaging</a>
                                    <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/productGallery/sunglasses">Sunglasses</a>
                                    <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/productGallery/toys">Toys</a>
                                    <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/productGallery/tumblers">Tumblers</a>
                                    <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/productGallery/usb-flashdrive">USB Flashdrive</a>
                                    <div class="dropdown-divider"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Services
                    </a>
                    <div class="dropdown-menu multi-column" aria-labelledby="navbarDropdown">
                        <div class="container">
                            <div class= "row">
                                <div class= "col-md-6 col-sm-12">
                                    <a class="dropdown-item" href="/serviceGallery">Gallery</a>
                                <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/serviceGallery/ad-design">Ad Design</a>
                                <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/serviceGallery/brand-identity">Brand Identity</a>
                                <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/serviceGallery/commercial-printing">Commercial Printing</a>
                                <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/serviceGallery/copies">Copies</a>
                                <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/serviceGallery/digital-printing">Digital Printing</a>
                                <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/serviceGallery/direct-mail">Direct Mail</a>
                                <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/serviceGallery/foil-stamping">Foil Stamping</a>
                                <div class="dropdown-divider"></div>
                            </div>
                            <div class= "col-md-6 col-sm-12">

                                    <a class="dropdown-item" href="/serviceGallery/graphic-design">Graphic Design</a>
                                <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/serviceGallery/infographics">Infographics</a>
                                <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/serviceGallery/large-format-printing">Large Format Printing</a>
                                <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/serviceGallery/laser-engraving">Laser Engraving</a>
                                <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/serviceGallery/logo-design">Logo Design</a>
                                <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/serviceGallery/photo-enlargement">Photo Enlargement</a>
                                <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/serviceGallery/scanning">Scanning</a>
                                <div class="dropdown-divider"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a style="color:#42a1f4;" class="nav-link" href="https://advanced-print-solutions.myshopify.com">Store</a>
                </li>
            </ul>
        </div>
    </nav>