<% include partials/header %>
    <title>
         About Us
    </title>
    <head>
        <link rel="stylesheet" href="stylesheets/about.css">
    </head>
        <div class="about_banner">
            <h1>ABOUT US</h1>
        </div>
        <div class="container">
            <div class="about_section_image">
                <img id= "company_image" src="https://s3.us-east-2.amazonaws.com/midwestspray/APS/store-front.jpg">
            </div>
            <div class="about_section">
                <h1>Oh, everything looks bad if you remember it.</h1>
                <p>Jesus must be spinning in his grave! Son, a woman is like a beer. They smell good, they look good, you'd step over your own mother just to get one! But you can't stop at one. You wanna drink another woman!</p>
                <p>I prefer a vehicle that doesn't hurt Mother Earth. It's a go-cart, powered by my own sense of self-satisfaction. Fame was like a drug. But what was even more like a drug were the drugs. <strong> Hi.</strong> <em> I'm Troy McClure.</em> You may remember me from such self-help tapes as "Smoke Yourself Thin" and "Get Some Confidence, Stupid!</p>
                <p>Kids, you tried your best and you failed miserably. The lesson is, never try. Kids, you tried your best and you failed miserably. The lesson is, never try. You know, the one with all the well meaning rules that don't work out in real life, uh, Christianity.</p>
                <p>Your guilty consciences may make you vote Democratic, but secretly you all yearn for a Republican president to lower taxes, brutalize criminals, and rule you like a king! Oh, so they have Internet on computers now!</p>
                <p>Get ready, skanks! It's time for the truth train! Oh, loneliness and cheeseburgers are a dangerous mix. Uh, no, they're saying "Boo-urns, Boo-urns." How is education supposed to make me feel smarter? Besides, every time I learn something new, it pushes some old stuff out of my brain. Remember when I took that home winemaking course, and I forgot how to drive?</p>
                <p>Remember the time he ate my goldfish? And you lied and said I never had goldfish. Then why did I have the bowl, Bart? <strong> *Why did I have the bowl?</strong> <em>* Fame was like a drug.</em> But what was even more like a drug were the drugs.</p>
            </div>
        </div>
    </body>






<% include partials/footer %>