<% include partials/header %>
    <title>
         About Us
    </title>
    <head>
        <link rel="stylesheet" href="stylesheets/about.css">
    </head>
        <div class="about_banner">
            <h1>ABOUT US</h1>
        </div>
        <div class="container">
            <div class="about_section_image">
                <img id= "company_image" src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/store-front.jpeg">
            </div>
            <div class="about_section">
                <h1>Our Story</h1>
                <p>Advanced Print Solutions is a family owned business with over 30 years experience in the printing and marketing industry! 
                Our customers range from small businesses and entrepreneurs to large manufacturing companies as well as local schools, Universities and non-profit organizations.. 
                </p>
                </p>Our experience and ability to customize and exceed your expeditions set us apart from the competition! 
                We take pride in offering special attention to detail and making sure your print and marketing experience will leave you feeling confident knowing you are in good hands! 
                </p>
                <p>Advanced Print Solutions is ready to help you with all your printing and marketing needs! 
                We strive to get you the best products and services at the best possible price.
                We are a full service printing & promotional product company that offers a wide variety of products and services.
                We will go beyond and above all your expectations to earn your business!
                </p>
                <p>Take pride in knowing your job will be done right the first time every time.. This is backed by our 100% Guarantee!
                Our goal is to provide high quality products and services that will help you promote and grow your business.
                </p>
                <p>To help you reach your future prospects and stay connected to your existing clients take advantage of our Low Cost mailing services!
                This is a great way to develop new prospects as well as keeping your current customers informed of any upcoming specials or events!
                </p>
            </div>
        </div>
    </body>






<% include partials/footer %>