<% include partials/header %>


<head>
  <link rel="stylesheet" href="stylesheets/home.css">
</head>
<div class = "container-fluid">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://s3.us-east-2.amazonaws.com/midwestspray/Woman+printing.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://s3.us-east-2.amazonaws.com/midwestspray/Woman+printing.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://s3.us-east-2.amazonaws.com/midwestspray/Woman+printing.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class= "welcome_section">
    <div class="wrap">
        <div class= "banner">
            <h3>Over 25 Years Experience in the Printing Industry!</h3>
        </div>
    </div>
</div>
<div class= "introduction_section">
    <div class= "wrap">
      <div class="row">
        <div class ="col-md-12 order-md-1">
            <div class="sales-pitch-text">
                <p>Need high quality business card, flyers, postcards, brochures, catalogs, promotional products, T-shirts and apparel?</p>
                <p>Look no further then Advanced Print Solutions!</p>
                <p>Get the best products and services at the absolute BEST price!</p>
            </div>
        </div>
    </div>
</div>
</div>
<h2 class="featured_products">Featured Products</h2>
<div class="featured_products_section">
    <div class="row">
        <div class="col-md-6 order-md-1">
            <div class="card">
                <img class="card-img-top" src="https://s3.us-east-2.amazonaws.com/midwestspray/APS/offset-printing.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Offset Printing</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 order-md-2">
            <div class="card">
                <img class="card-img-top" src="https://s3.us-east-2.amazonaws.com/midwestspray/APS/digital-printing.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Digital Printing</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="services_section">
    <div class= "wrap">
        <div class="row">
            <div class="col-md-6 order-md-1">
                <div class="services_description">
                    <p>We offer a wide variety of promotional products.</p>
                    <p>We've got you covered!</p>
                </div>
                <ul class="sales-pitch-text">
                    <li>Promotional Products</li>
                    <li>Silk Screening and Embroidery</li>
                    <li>Signs and Banners</li>
                    <li>Booklets and Catalogs</li>
                    <li>Graphic Design</li>
                    <li>Mailing Services</li>
                    <li>Four Color Offset and Digital Printing</li>
                    <li>High Speed Copying</li>
                </ul>
            </div>
            <div class="col-md-6 order-md-2">
                <div class="order-button">
                    <button> GET A QUOTE NOW!</button>
                </div>
            </div>
        </div>
    </div>
</div>



    




<% include partials/footer %>
