<% include partials/header %>
<title>
    Product Gallery
</title>

<head>
    <link rel="stylesheet" href="stylesheets/productGallery.css">
</head>

    <div class="products_banner">
        <h1>PRODUCT GALLERY</h1>
    </div>
    <div class="container">
        <div class="products_section">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="/productGallery/accessories">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/Accessories-min.jpg">
                            <div class="caption">
                                <h5>Accessories</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="/productGallery/apparel">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/apparel-min.jpg">
                            <div class="caption">
                                <h5>Apparel</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="/productGallery/bags">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/drawstring+bag-min.jpg">
                            <div class="caption">
                                <h5>Bags</h5>
                            </div>
                        </a>
                    </div>
                </div>
               <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="/productGallery/brochures">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/brochures.jpg">
                            <div class="caption">
                                <h5>Brochures</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="/productGallery/business-cards">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/business-cards-min.jpg">
                            <div class="caption">
                                <h5>Business Cards</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="/productGallery/calendars">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/Calendar-min.jpg">
                            <div class="caption">
                                <h5>Calendars</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="/productGallery/clothing-accessories">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/Scarf-min.jpg">
                            <div class="caption">
                                <h5>Clothing Accessories</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="/productGallery/gift-set">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/Gift+Set-min.jpg">
                            <div class="caption">
                                <h5>Gift Set</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="/productGallery/hats">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/Hat-min.jpg">
                            <div class="caption">
                                <h5>Hats</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="/productGallery/magnets-stickers">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/Magnet-Sticker-min.jpg">
                            <div class="caption">
                                <h5>Magnets & Stickers</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="/productGallery/mugs">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/Ceramic+Mug-min.jpg">
                            <div class="caption">
                                <h5>Mugs</h5>
                            </div>
                        </a>
                    </div>
                </div>
               <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="/productGallery/notebooks">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/Notebook-min.jpg">
                            <div class="caption">
                                <h5>notebooks</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="/productGallery/office-supplies">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/2953_BLK_Propped_Blank+mouse+pad+website.jpg">
                            <div class="caption">
                                <h5>Office Products</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="/productGallery/outdoor-leisure">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/Outdoor+%26+Leisure-min.jpg">
                            <div class="caption">
                                <h5>Outdoor Leisure</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="/productGallery/pens">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/Pen-min.jpg">
                            <div class="caption">
                                <h5>Pens</h5>
                            </div>
                        </a>
                    </div>
                </div>
               <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="/productGallery/special-packaging">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/Special+Packaging-min.jpg">
                            <div class="caption">
                                <h5>Special Packaging</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="/productGallery/sunglasses">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/Sunglasses-min.jpg">
                            <div class="caption">
                                <h5>Sunglasses</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="/productGallery/toys">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/spinner-min.jpg">
                            <div class="caption">
                                <h5>Toys</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="/productGallery/tumblers">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/Tumbler-min.jpg">
                            <div class="caption">
                                <h5>Tumblers</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="/productGallery/usb-flashdrive">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/USB+Flashdrive-min.jpg">
                            <div class="caption">
                                <h5>Flashdrives</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


<% include partials/footer %>
