<% include partials/header %>
<title>
    Services Gallery
</title>

<head>
    <link rel="stylesheet" href="stylesheets/serviceGallery.css">
</head>

    <div class="services_banner">
        <h1>SERVICES GALLERY</h1>
    </div>
    <div class="container">
        <div class="services_section">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/ad-design">
                            <img class ="service_image" src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/new+size+service+photos/Optimized-ad-design-min_500x300.jpg">
                            <div class="caption">
                                <h5>Ad-Design</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/brand-identity">
                            <img class ="service_image"  src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/new+size+service+photos/BIZ_Color_no_background_1-1_500x300.jpg">
                            <div class="caption">
                                <h5>Brand Identity</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/commercial-printing">
                            <img class ="service_image" src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/new+size+service+photos/digital-printing_2_500x300.jpg">
                            <div class="caption">
                                <h5>Commercial Printing</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/copies">
                            <img class ="service_image" src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/new+size+service+photos/image-from-rawpixel-id-436267-jpeg_500x300.jpg">
                            <div class="caption">
                                <h5>Copies</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/digital-printing">
                            <img class ="service_image" src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/new+size+service+photos/digital-printing-min_500x300.jpg">
                            <div class="caption">
                                <h5>Digital Printing</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/direct-mail">
                            <img class ="service_image"  src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/new+size+service+photos/image-from-rawpixel-id-531776-jpeg-min_500x300.jpg">
                            <div class="caption">
                                <h5>Direct Mail</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/embossing">
                            <img class ="service_image"  src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/new+size+service+photos/embossing-min_500x300.jpg">
                            <div class="caption">
                                <h5>Embossing</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/finishing">
                            <img class ="service_image"  src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/new+size+service+photos/finishing_500x300.jpg">
                            <div class="caption">
                                <h5>Finishing</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/foil-stamping">
                            <img class ="service_image"  src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/new+size+service+photos/foil-stamping-min_500x300.jpg">
                            <div class="caption">
                                <h5>Foil Stamping</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/graphic-design">
                            <img class ="service_image"  src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/new+size+service+photos/Optimized-apple-computer-design-326501-min_1_500x300.jpg">
                            <div class="caption">
                                <h5>Graphic Design</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                       <a href="serviceGallery/infographics">
                            <img class ="service_image"  src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/new+size+service+photos/samsung_samsung_galaxy_galaxy_500x300.jpg">
                            <div class="caption">
                                <h5>Infographics</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/large-format-printing">
                            <img class ="service_image"  src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/new+size+service+photos/large-format-printing-min_500x300.jpg">
                            <div class="caption">
                                <h5>Large Format</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/laser-engraving">
                            <img class ="service_image"  src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/new+size+service+photos/laser-engraving-min_500x300.jpg">
                            <div class="caption">
                                <h5>Laser Engraving</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/logo-design">
                            <img class ="service_image"  src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/RotoRooter_Logo_pdf_embrodiery_art_for_polos_9-26-16-1_500x300.jpg">
                            <div class="caption">
                                <h5>Logo Design</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/photo-enlarging">
                            <img class ="service_image"  src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/new+size+service+photos/alone-art-art-gallery-748778-min_1_500x300.jpg">
                            <div class="caption">
                                <h5>Photo Enlargement</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/scanning">
                            <img class ="service_image"  src="https://s3.us-east-2.amazonaws.com/advancedprintsolutionsmedia/new+size+service+photos/scanning-min_500x300.jpg">
                            <div class="caption">
                                <h5>Scanning</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


<% include partials/footer %>
