<% include partials/header %>
<title>
    Services Gallery
</title>

<head>
    <link rel="stylesheet" href="stylesheets/serviceGallery.css">
</head>

    <div class="services_banner">
        <h1>SERVICES GALLERY</h1>
    </div>
    <div class="container">
        <div class="services_section">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/ad-design">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Ad-Design</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/brand-identity">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Brand Identity</h5>
                            </div>
                        </a>
                    </div>
                </div>
               <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/commercial-printing">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Commercial Printing</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/copies">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Copies</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/digital-printing">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Digital Printing</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/direct-mail">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Direct Mail</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/embossing">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Embossing</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/finishing">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Finishing</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/foil-stamping">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Foil Stamping</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/folding">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Folding</h5>
                            </div>
                        </a>
                    </div>
                </div>
               <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/graphic-design">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Graphic Design</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                       <a href="serviceGallery/inforgraphics">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Infographics</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/large-format">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Large Format</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/laser-engraving">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Laser Engraving</h5>
                            </div>
                        </a>
                    </div>
                </div>
               <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/lead-generation">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Lead Generation</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/list-acquisition">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>List Acquisition</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/logo-design">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Logo Design</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/photo-enlarging">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Photo Enlarging</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="serviceGallery/scanning">
                            <img class ="product_image" src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Scanning</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<% include partials/footer %>
</html>