<% include partials/header %>
<head>
    <link rel="stylesheet" href="stylesheets/services.css">
</head>
<html>
    
<body>
    <div class="services_banner">
        <h1>Services Gallery</h1>
    </div>
    <div class="container">
        <div class="services_section">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="/">
                            <img src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Lorem ipsum...</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="/">
                            <img src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Lorem ipsum...</h5>
                            </div>
                        </a>
                    </div>
                </div>
               <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="/">
                            <img src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Lorem ipsum...</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="/">
                            <img src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Lorem ipsum...</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="/">
                            <img src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Lorem ipsum...</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="/">
                            <img src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Lorem ipsum...</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="/">
                            <img src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Lorem ipsum...</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="/">
                            <img src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Lorem ipsum...</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="/">
                            <img src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Lorem ipsum...</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="/">
                            <img src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Lorem ipsum...</h5>
                            </div>
                        </a>
                    </div>
                </div>
               <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="/">
                            <img src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Lorem ipsum...</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="/">
                            <img src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Lorem ipsum...</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="/">
                            <img src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Lorem ipsum...</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="/">
                            <img src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Lorem ipsum...</h5>
                            </div>
                        </a>
                    </div>
                </div>
               <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="thumbnail">
                        <a href="/">
                            <img src="https://s3.us-east-2.amazonaws.com/midwestspray/7190_WHTRED_Ceramic.jpg">
                            <div class="caption">
                                <h5>Lorem ipsum...</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<% include partials/footer %>
</html>