<% include partials/header.ejs %>

<html>
    <header>
        <title>
            Brochures
        </title>
        <link rel="stylesheet" href="stylesheets/template.css">
    </header>
    <body>
        <div class="banner">
            <h1>Brochures</h1>
        </div>
        <div class="container">
            <div class ="row">
                <div class="col-md-6">
                    <div class="description">
                    <h1>Description</h1>
                    <p>Lisa, vampires are make-believe, like elves, gremlins, and Eskimos. I'm going to the back seat of my car, with the woman I love, and I won't be back for ten minutes! …And the fluffy kitten played with that ball of string all through the night. On a lighter note, a Kwik-E-Mart clerk was brutally murdered last night.</p>
                    <p>Kids, kids. I'm not going to die. That only happens to bad people. Mrs. Krabappel and Principal Skinner were in the closet making babies and I saw one of the babies and then the baby looked at me. Fire can be our friend; whether it's toasting marshmallows or raining down on Charlie.</p>
                    <p>This is the greatest case of false advertising I've seen since I sued the movie "The Never Ending Story. <strong>" Shoplifting is a victimless crime.</strong> <em> Like punching someone in the dark.</em> No children have ever meddled with the Republican Party and lived to tell about it.</p>
                    <p>Lisa, vampires are make-believe, like elves, gremlins, and Eskimos. I'm going to the back seat of my car, with the woman I love, and I won't be back for ten minutes! …And the fluffy kitten played with that ball of string all through the night. On a lighter note, a Kwik-E-Mart clerk was brutally murdered last night.</p>
                    <p>Kids, kids. I'm not going to die. That only happens to bad people. Mrs. Krabappel and Principal Skinner were in the closet making babies and I saw one of the babies and then the baby looked at me. Fire can be our friend; whether it's toasting marshmallows or raining down on Charlie.</p>
                    <p>This is the greatest case of false advertising I've seen since I sued the movie "The Never Ending Story. <strong>" Shoplifting is a victimless crime.</strong> <em> Like punching someone in the dark.</em> No children have ever meddled with the Republican Party and lived to tell about it.</p>
                </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img src="https://s3.us-east-2.amazonaws.com/midwestspray/spraymanv2.jpg">
                    </div>
                     <div class="order-button" href = "/contact">
                        <a class="button"  href = "/contact"> GET A QUOTE NOW!</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>


<% include partials/footer.ejs%>